

.box1{
    background-color: rgb(192, 222, 234);
    border-radius: 20px;

}
.heading{
    font-family: 'Times New Roman', Times, serif;    
    animation: typing 2s steps(10) infinite;
    letter-spacing: 7px;
    cursor: pointer;
    animation: typewriter 4s steps(35) normal infinite , blinkTextCursor 0.5s infinite; 
    white-space: nowrap;
    overflow: hidden; 
    color: rgb(13, 8, 101)
  
}
@keyframes typewriter {
    from{
        width: 0;
    }
    to{
        width: 350px;
    }
}
@keyframes blinkTextCursor{
    from{
        border-right-color: black;
    }
    to{
        border-right-color: transparent;
    }
}
.buttons button{
    margin: 20px;
}